.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 5rem;
  background-color: transparent;
  transition: all 0.3s linear;
}

.nav.solid {
  background-color: #fff;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
}

.nav .navbar-center {
  margin: 0 auto;
  max-width: 114rem;
  width: 100%;
  /* background-color: rgb(255, 240, 109); */

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
}

.nav .navbar-center .logo {
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;
}

.nav .navbar-center .nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav .navbar-center .nav-list .nav-item {
  margin-left: 4rem;
}

.nav .navbar-center .nav-list .nav-item a {
  font-size: 1.8rem;
  color: #777;
}
